# EDA

In [1]:
# Imports

import pandas as pd
from datetime import datetime
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set(style='whitegrid', palette='bright', color_codes=True)
sns.set_context('talk')

from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_score, recall_score, accuracy_score, f1_score, roc_auc_score
from sklearn.dummy import DummyClassifier
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV

import xgboost as xgb

from imblearn.over_sampling import SMOTE
# from imblearn.under_sampling import NearMiss

Using TensorFlow backend.
/Users/flatironschool/.local/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/Users/flatironschool/.local/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:527: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/Users/flatironschool/.local/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/Users/flatironschool/.local/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:529: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/Users/flatironschool/.local/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:530: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/Users/flatironschool/.local/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:535: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [2]:
# Working with old file from 2016
# Had to specify encoding

df = pd.read_csv('ks-projects-201612.csv', encoding='latin-1')

/Users/flatironschool/.local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head(10)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09 11:36:00,1000,2015-08-11 12:12:28,0,failed,0,GB,0,NaN,NaN,NaN,NaN
1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26 00:20:50,45000,2013-01-12 00:20:50,220,failed,3,US,220,NaN,NaN,NaN,NaN
2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16 04:24:11,5000,2012-03-17 03:24:11,1,failed,1,US,1,NaN,NaN,NaN,NaN
3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29 01:00:00,19500,2015-07-04 08:35:03,1283,canceled,14,US,1283,NaN,NaN,NaN,NaN
4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01 13:38:27,50000,2016-02-26 13:38:27,52375,successful,224,US,52375,NaN,NaN,NaN,NaN
5,1000023410,Support Solar Roasted Coffee & Green Energy! ...,Food,Food,USD,2014-12-21 18:30:44,1000,2014-12-01 18:30:44,1205,successful,16,US,1205,NaN,NaN,NaN,NaN
6,1000030581,Chaser Strips. Our Strips make Shots their B*tch!,Drinks,Food,USD,2016-03-17 19:05:12,25000,2016-02-01 20:05:12,453,failed,40,US,453,NaN,NaN,NaN,NaN
7,1000034518,SPIN - Premium Retractable In-Ear Headphones w...,Product Design,Design,USD,2014-05-29 18:14:43,125000,2014-04-24 18:14:43,8233,canceled,58,US,8233,NaN,NaN,NaN,NaN
8,100004195,STUDIO IN THE SKY - A Documentary Feature Film...,Documentary,Film & Video,USD,2014-08-10 21:55:48,65000,2014-07-11 21:55:48,6240.57,canceled,43,US,6240.57,NaN,NaN,NaN,NaN
9,100004721,Of Jesus and Madmen,Nonfiction,Publishing,CAD,2013-10-09 18:19:37,2500,2013-09-09 18:19:37,0,failed,0,CA,0,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323750 entries, 0 to 323749
Data columns (total 17 columns):
ID                323750 non-null int64
name              323746 non-null object
category          323745 non-null object
main_category     323750 non-null object
currency          323750 non-null object
deadline          323750 non-null object
goal              323750 non-null object
launched          323750 non-null object
pledged           323750 non-null object
state             323750 non-null object
backers           323750 non-null object
country           323750 non-null object
usd pledged       319960 non-null object
Unnamed: 13       625 non-null object
Unnamed: 14       12 non-null object
Unnamed: 15       4 non-null object
Unnamed: 16       1 non-null float64
dtypes: float64(1), int64(1), object(15)
memory usage: 42.0+ MB

In [5]:
df.describe()

                ID   Unnamed: 16
count  3.237500e+05          1.0
mean   1.074943e+09         25.0
std    6.193352e+08          NaN
min    5.971000e+03         25.0
25%    5.375802e+08         25.0
50%    1.075818e+09         25.0
75%    1.611070e+09         25.0
max    2.147476e+09         25.0

In [6]:
df.isna().sum()

ID                     0
name                   4
category               5
main_category          0
currency               0
deadline               0
goal                   0
launched               0
pledged                0
state                  0
backers                0
country                0
usd pledged         3790
Unnamed: 13       323125
Unnamed: 14       323738
Unnamed: 15       323746
Unnamed: 16       323749
dtype: int64

In [7]:
df = df.drop(['Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16'], axis=1)

In [8]:
df.dropna(inplace=True)

In [9]:
df.isna().sum()

ID                0
name              0
category          0
main_category     0
currency          0
deadline          0
goal              0
launched          0
pledged           0
state             0
backers           0
country           0
usd pledged       0
dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 319951 entries, 0 to 323749
Data columns (total 13 columns):
ID                319951 non-null int64
name              319951 non-null object
category          319951 non-null object
main_category     319951 non-null object
currency          319951 non-null object
deadline          319951 non-null object
goal              319951 non-null object
launched          319951 non-null object
pledged           319951 non-null object
state             319951 non-null object
backers           319951 non-null object
country           319951 non-null object
usd pledged       319951 non-null object
dtypes: int64(1), object(12)
memory usage: 34.2+ MB

In [11]:
df.columns

Index(['ID ', 'name ', 'category ', 'main_category ', 'currency ', 'deadline ',
       'goal ', 'launched ', 'pledged ', 'state ', 'backers ', 'country ',
       'usd pledged '],
      dtype='object')

In [12]:
# Removed whitespace at the end of the column names

df.columns = df.columns.str.rstrip()

In [13]:
df.columns

Index(['ID', 'name', 'category', 'main_category', 'currency', 'deadline',
       'goal', 'launched', 'pledged', 'state', 'backers', 'country',
       'usd pledged'],
      dtype='object')

In [14]:
# df.astype({'goal': 'float64'})
# ValueError: could not convert string to float: '2016-02-02 00:56:46'

In [15]:
# Investigated the error

df[df['goal'] == '2016-02-02 00:56:46']

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged
1454,1008705746,Zephyra´s new full length,'As The World Collapses',Metal,Music,SEK,2016-02-02 00:56:46,15000,2016-01-03 00:56:46,4262,failed,14,SE

In [16]:
df.loc[df['ID'] == 1008705746, 'goal'] = 15000
df.loc[df['ID'] == 1008705746, 'launched'] = '2016-02-02 00:56:46'

In [17]:
df.loc[df['ID'] == 1008705746]

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged
1454,1008705746,Zephyra´s new full length,'As The World Collapses',Metal,Music,SEK,15000,2016-02-02 00:56:46,2016-01-03 00:56:46,4262,failed,14,SE

In [18]:
df.groupby('country').count()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,usd pledged
country,,,,,,,,,,,,
0,102,102,102,102,102,102,102,102,102,102,102,102
1,72,72,72,72,72,72,72,72,72,72,72,72
10,13,13,13,13,13,13,13,13,13,13,13,13
107,1,1,1,1,1,1,1,1,1,1,1,1
108,2,2,2,2,2,2,2,2,2,2,2,2
109,1,1,1,1,1,1,1,1,1,1,1,1
11,3,3,3,3,3,3,3,3,3,3,3,3
110,1,1,1,1,1,1,1,1,1,1,1,1
111,1,1,1,1,1,1,1,1,1,1,1,1
114,2,2,2,2,2,2,2,2,2,2,2,2
116,2,2,2,2,2,2,2,2,2,2,2,2
117,1,1,1,1,1,1,1,1,1,1,1,1
119,1,1,1,1,1,1,1,1,1,1,1,1
12,12,12,12,12,12,12,12,12,12,12,12,12
122,2,2,2,2,2,2,2,2,2,2,2,2
124,1,1,1,1,1,1,1,1,1,1,1,1
126,1,1,1,1,1,1,1,1,1,1,1,1
13,8,8,8,8,8,8,8,8,8,8,8,8
136,1,1,1,1,1,1,1,1,1,1,1,1
14,7,7,7,7,7,7,7,7,7,7,7,7
140,1,1,1,1,1,1,1,1,1,1,1,1
142,1,1,1,1,1,1,1,1,1,1,1,1
144,1,1,1,1,1,1,1,1,1,1,1,1
15,2,2,2,2,2,2,2,2,2,2,2,2
150,1,1,1,1,1,1,1,1,1,1,1,1
154,1,1,1,1,1,1,1,1,1,1,1,1
157,1,1,1,1,1,1,1,1,1,1,1,1
158,1,1,1,1,1,1,1,1,1,1,1,1
159,1,1,1,1,1,1,1,1,1,1,1,1
16,10,10,10,10,10,10,10,10,10,10,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...
9,7,7,7,7,7,7,7,7,7,7,7,7
91,2,2,2,2,2,2,2,2,2,2,2,2
92,1,1,1,1,1,1,1,1,1,1,1,1
93,1,1,1,1,1,1,1,1,1,1,1,1
98,1,1,1,1,1,1,1,1,1,1,1,1
9854,1,1,1,1,1,1,1,1,1,1,1,1
99,1,1,1,1,1,1,1,1,1,1,1,1
AT,377,377,377,377,377,377,377,377,377,377,377,377
AU,6236,6236,6236,6236,6236,6236,6236,6236,6236,6236,6236,6236
BE,402,402,402,402,402,402,402,402,402,402,402,402
CA,11992,11992,11992,11992,11992,11992,11992,11992,11992,11992,11992,11992
CH,471,471,471,471,471,471,471,471,471,471,471,471
DE,2684,2684,2684,2684,2684,2684,2684,2684,2684,2684,2684,2684
DK,825,825,825,825,825,825,825,825,825,825,825,825
ES,1372,1372,1372,1372,1372,1372,1372,1372,1372,1372,1372,1372
FR,1910,1910,1910,1910,1910,1910,1910,1910,1910,1910,1910,1910
GB,27508,27508,27508,27508,27508,27508,27508,27508,27508,27508,27508,27508
HK,97,97,97,97,97,97,97,97,97,97,97,97
IE,575,575,575,575,575,575,575,575,575,575,575,575
IT,1750,1750,1750,1750,1750,1750,1750,1750,1750,1750,1750,1750
LU,40,40,40,40,40,40,40,40,40,40,40,40
MX,214,214,214,214,214,214,214,214,214,214,214,214
NL,2259,2259,2259,2259,2259,2259,2259,2259,2259,2259,2259,2259
NO,526,526,526,526,526,526,526,526,526,526,526,526
NZ,1136,1136,1136,1136,1136,1136,1136,1136,1136,1136,1136,1136
SE,1269,1269,1269,1269,1269,1269,1269,1269,1269,1269,1269,1269
SG,119,119,119,119,119,119,119,119,119,119,119,119
US,257562,257562,257562,257562,257562,257562,257562,257562,257562,257562,257562,257562
failed,6,6,6,6,6,6,6,6,6,6,6,6
successful,2,2,2,2,2,2,2,2,2,2,2,2

In [19]:
df.loc[df['country'].isin(['US', 'GB', 'CA'])]

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09 11:36:00,1000,2015-08-11 12:12:28,0,failed,0,GB,0
1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26 00:20:50,45000,2013-01-12 00:20:50,220,failed,3,US,220
2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16 04:24:11,5000,2012-03-17 03:24:11,1,failed,1,US,1
3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29 01:00:00,19500,2015-07-04 08:35:03,1283,canceled,14,US,1283
4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01 13:38:27,50000,2016-02-26 13:38:27,52375,successful,224,US,52375
5,1000023410,Support Solar Roasted Coffee & Green Energy! ...,Food,Food,USD,2014-12-21 18:30:44,1000,2014-12-01 18:30:44,1205,successful,16,US,1205
6,1000030581,Chaser Strips. Our Strips make Shots their B*tch!,Drinks,Food,USD,2016-03-17 19:05:12,25000,2016-02-01 20:05:12,453,failed,40,US,453
7,1000034518,SPIN - Premium Retractable In-Ear Headphones w...,Product Design,Design,USD,2014-05-29 18:14:43,125000,2014-04-24 18:14:43,8233,canceled,58,US,8233
8,100004195,STUDIO IN THE SKY - A Documentary Feature Film...,Documentary,Film & Video,USD,2014-08-10 21:55:48,65000,2014-07-11 21:55:48,6240.57,canceled,43,US,6240.57
9,100004721,Of Jesus and Madmen,Nonfiction,Publishing,CAD,2013-10-09 18:19:37,2500,2013-09-09 18:19:37,0,failed,0,CA,0
10,100005484,Lisa Lim New CD!,Indie Rock,Music,USD,2013-04-08 06:42:58,12500,2013-03-09 06:42:58,12700,successful,100,US,12700
11,1000055792,The Cottage Market,Crafts,Crafts,USD,2014-10-02 17:11:50,5000,2014-09-02 17:11:50,0,failed,0,US,0
12,1000056157,G-Spot Place for Gamers to connect with eachot...,Games,Games,USD,2016-03-25 22:01:12,200000,2016-02-09 23:01:12,0,failed,0,US,0
13,1000064368,Survival Rings,Design,Design,USD,2015-02-28 02:10:53,2500,2015-01-29 02:10:53,664,failed,11,US,664
14,1000064918,The Beard,Comic Books,Comics,USD,2014-11-08 22:27:52,1500,2014-10-09 22:27:52,395,failed,16,US,395
15,1000068480,Notes From London: Above & Below,Art Books,Publishing,USD,2015-05-10 21:20:54,3000,2015-04-10 21:20:54,789,failed,20,US,789
16,1000070642,Mike Corey's Darkness & Light Album,Music,Music,USD,2012-08-17 14:11:32,250,2012-08-02 14:11:32,250,successful,7,US,250
17,1000071625,Boco Tea,Food,Food,USD,2012-06-02 17:24:32,5000,2012-05-03 17:24:32,1781,failed,40,US,1781
18,1000072011,CMUK. Shoes: Take on Life Feet First.,Fashion,Fashion,USD,2013-12-30 07:06:11,20000,2013-11-25 07:06:11,34268,successful,624,US,34268
19,1000082254,Alice in Wonderland in G Minor,Theater,Theater,USD,2014-06-15 10:09:03,3500,2014-05-16 10:10:38,650,failed,12,US,650
21,1000091520,The Book Zoo - A Mini-Comic,Comics,Comics,USD,2014-11-12 17:15:50,175,2014-10-23 17:15:50,701.66,successful,66,US,701.66
22,1000102741,Matt Cavenaugh & Jenny Powers make their 1st a...,Music,Music,USD,2011-01-06 23:16:50,10000,2010-12-07 23:16:50,15827,successful,147,US,15827
23,1000103948,Superhero Teddy Bear,DIY,Crafts,GBP,2016-01-05 20:09:06,12000,2015-12-06 20:09:06,0,failed,0,GB,0
24,1000104688,Permaculture Skills,Webseries,Film & Video,CAD,2014-12-14 18:02:00,17757,2014-11-14 18:02:00,48905,successful,571,CA,43203.2511447
25,1000104953,Rebel Army Origins: The Heroic Story Of Major ...,Comics,Comics,GBP,2016-01-28 16:59:29,100,2015-12-29 16:59:29,112.38,successful,27,GB,167.7003057894
26,1000115172,Daily Brew Coffee,Food Trucks,Food,GBP,2015-03-31 18:06:32,3500,2015-03-01 18:06:32,21,failed,1,GB,32.41526106
27,1000117861,Ledr workbook: one tough journal!,Product Design,Design,USD,2016-10-08 02:00:00,1000,2016-09-07 13:14:26,47266,successful,549,US,11253
29,1000120287,BB130A,Public Art,Art,USD,2013-03-24 00:07:28,25000,2013-02-12 01:07:28,1395,failed,30,US,1395
30,100012079,Chris Eger Band - New Nashville Record!,Music,Music,USD,2014-08-13 08:59:00,12000,2014-07-14 22:35:51,13260,successful,92,US,13260
31,1000129669,Squatch Watchers,Webseries,Film & Video,USD,2013-08-23 21:40:13,10000,2013-07-24 21:40:13,1373.37,failed,54,US,1373.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...
323716,999799441,The Hollywood Kills On Tour,Rock,Music,USD,2012-05-04 23:12:03,10000,2012-03-05 23:12:03,10300,successful,78,US,10300
323717,999800713,BETTER DESPERATE,Music Videos,Film & Video,USD,2016-05-07 20:04:26,300,2016-04-07 20:04:26,300,successful,5,US,300
323718,999801167,Eternal Warfare Records Festival 2013 (Canceled),Rock,Music,USD,2013-03-29 16:00:00,5000,2013-02-12 00:44:04,1721,canceled,36,US,1721
323719,999801508,Competition Finalist,Fashion,Fashion,USD,2013-06-13 01:18:54,4000,2013-05-14 01:18:54,4005,successful,14,US,4005
323720,999810803,The Finger (Canceled),Documentary,Film & Video,USD,2010-12-31 21:41:15,28559,2010-12-01 21:41:15,50,canceled,1,US,50
323722,999814955,Collinwood Needs Coffee!!!,Restaurants,Food,USD,2014-07-28 13:28:12,12000,2014-06-28 13:28:12,2090,failed,42,US,2090
323724,999832803,MONSTROCARDS- A Creative Drawing Game of Horri...,Playing Cards,Games,USD,2014-10-03 19:53:50,10000,2014-09-03 19:53:50,13861.5,successful,413,US,13861.5
323725,99984851,"""Loreto""",Comedy,Film & Video,USD,2014-06-05 06:00:00,12000,2014-05-06 23:50:34,0,failed,0,US,0
323726,999865831,STATE OF G - Men's Blazer Jacket & Women's Car...,Apparel,Fashion,USD,2014-12-13 04:00:00,25000,2014-11-13 17:16:17,11643,failed,97,US,11643
323727,999867839,Transcaucasia,Photography,Photography,USD,2011-01-08 02:43:59,4000,2010-11-08 02:43:59,3531,failed,37,US,3531
323728,99987261,"You're Not Cis, You Just Think You Are: My Enb...",Nonfiction,Publishing,USD,2015-09-24 22:37:14,800,2015-08-25 22:37:14,70,failed,5,US,70
323729,999877902,Little Saturday's Debut Album,Country & Folk,Music,CAD,2014-12-17 17:50:12,5000,2014-11-17 17:50:12,5435,successful,78,CA,4814.8774787
323730,999880710,Terminal Uniqueness,Nonfiction,Publishing,USD,2014-08-15 02:10:39,5000,2014-07-15 02:10:39,18,failed,5,US,18
323731,999884445,Superette Tea - Boldly Caffeinated Loose Leaf Tea,Drinks,Food,USD,2015-12-03 13:04:14,5000,2015-11-03 13:04:14,5579,successful,103,US,5579
323732,999893629,Ciridian Helix (Canceled),Fiction,Publishing,USD,2014-09-11 21:33:00,1000,2014-08-08 21:49:31,100,canceled,2,US,100
323734,999931480,Google Glass Shield (Canceled),3D Printing,Technology,USD,2014-05-26 20:22:45,6500,2014-05-05 20:22:45,0,canceled,0,US,0
323735,999934908,The Manual Bar Blade,Product Design,Design,USD,2015-12-15 06:59:00,3500,2015-11-23 07:33:14,6169,successful,120,US,6169
323736,999941823,The Chronicles of Erinoth - A Graphic Novel,Comics,Comics,GBP,2013-10-10 22:45:26,16000,2013-09-10 22:45:26,2738,failed,38,GB,4281.1485734
323737,999943841,The Dog Coffee Book,Children's Books,Publishing,USD,2013-11-30 19:03:00,950,2013-10-18 21:35:04,1732.02,successful,31,US,1732.02
323738,999950812,The Cease is Increase,Nonfiction,Publishing,USD,2012-09-14 17:11:00,4999,2012-08-15 17:11:00,980,failed,16,US,980
323739,999955533,Cards and Chit Network Season 2! (Canceled),Tabletop Games,Games,USD,2016-02-23 16:03:27,500,2016-01-24 16:03:27,121,canceled,5,US,121
323740,99996661,Date Seat - Boston iOS App,Apps,Technology,USD,2016-09-05 05:59:00,6000,2016-07-29 15:36:29,0,failed,0,US,0
323741,999969812,AT THE BEACH,Classical Music,Music,CAD,2014-03-22 00:00:16,5000,2014-02-20 01:00:16,5501,successful,78,CA,5019.92088197
323743,999972264,Islanda,Documentary,Film & Video,USD,2012-03-16 03:31:10,1700,2012-02-15 04:31:10,25,failed,1,US,25
323744,999976312,Angela's Poetry (Canceled),Poetry,Publishing,CAD,2014-09-20 03:46:07,5500,2014-08-06 03:46:07,0,canceled,0,CA,0
323745,999976400,ChknTruk Nationwide Charity Drive 2014 (Canceled),Documentary,Film & Video,USD,2014-10-17 02:35:30,50000,2014-09-17 02:35:30,25,canceled,1,US,25
323746,999977640,The Tribe,Narrative Film,Film & Video,USD,2011-07-19 03:35:14,1500,2011-06-22 03:35:14,155,failed,5,US,155
323747,999986353,Walls of Remedy- New lesbian Romantic Comedy f...,Narrative Film,Film & Video,USD,2010-08-16 05:59:00,15000,2010-07-01 19:40:30,20,failed,1,US,20
323748,999987933,BioDefense Education Kit,Technology,Technology,USD,2016-02-13 02:00:00,15000,2016-01-13 18:13:53,200,failed,6,US,200
323749,999988282,Nou Renmen Ayiti! We Love Haiti!,Performance Art,Art,USD,2011-08-16 09:07:47,2000,2011-07-19 09:07:47,524,failed,17,US,524

In [20]:
# Decided to work with relevant countries with more observations

df = df.loc[df['country'].isin(['US', 'GB', 'CA'])]

In [21]:
df.head(10)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09 11:36:00,1000,2015-08-11 12:12:28,0,failed,0,GB,0
1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26 00:20:50,45000,2013-01-12 00:20:50,220,failed,3,US,220
2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16 04:24:11,5000,2012-03-17 03:24:11,1,failed,1,US,1
3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29 01:00:00,19500,2015-07-04 08:35:03,1283,canceled,14,US,1283
4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01 13:38:27,50000,2016-02-26 13:38:27,52375,successful,224,US,52375
5,1000023410,Support Solar Roasted Coffee & Green Energy! ...,Food,Food,USD,2014-12-21 18:30:44,1000,2014-12-01 18:30:44,1205,successful,16,US,1205
6,1000030581,Chaser Strips. Our Strips make Shots their B*tch!,Drinks,Food,USD,2016-03-17 19:05:12,25000,2016-02-01 20:05:12,453,failed,40,US,453
7,1000034518,SPIN - Premium Retractable In-Ear Headphones w...,Product Design,Design,USD,2014-05-29 18:14:43,125000,2014-04-24 18:14:43,8233,canceled,58,US,8233
8,100004195,STUDIO IN THE SKY - A Documentary Feature Film...,Documentary,Film & Video,USD,2014-08-10 21:55:48,65000,2014-07-11 21:55:48,6240.57,canceled,43,US,6240.57
9,100004721,Of Jesus and Madmen,Nonfiction,Publishing,CAD,2013-10-09 18:19:37,2500,2013-09-09 18:19:37,0,failed,0,CA,0

In [22]:
df = df.astype({'goal': 'float64', 'pledged': 'float64', 'backers': 'int64'})

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 297062 entries, 0 to 323749
Data columns (total 13 columns):
ID               297062 non-null int64
name             297062 non-null object
category         297062 non-null object
main_category    297062 non-null object
currency         297062 non-null object
deadline         297062 non-null object
goal             297062 non-null float64
launched         297062 non-null object
pledged          297062 non-null float64
state            297062 non-null object
backers          297062 non-null int64
country          297062 non-null object
usd pledged      297062 non-null object
dtypes: float64(2), int64(2), object(9)
memory usage: 31.7+ MB

In [24]:
# Changed the format of launched and deadline to datetime for manipulation

df['deadline'] = pd.to_datetime(df['deadline']).dt.date
df['launched'] = pd.to_datetime(df['launched']).dt.date

In [25]:
# Created new column with the amount of days each project has to reach the goal

df['time_days'] = df['deadline'] - df['launched']

In [26]:
df.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,time_days
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11,0.0,failed,0,GB,0,59 days
1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12,220.0,failed,3,US,220,45 days
2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17,1.0,failed,1,US,1,30 days
3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04,1283.0,canceled,14,US,1283,56 days
4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01,50000.0,2016-02-26,52375.0,successful,224,US,52375,35 days

In [27]:
# Extracted just the amount of days from the datetime format

df['time_days'] = df['time_days'].dt.days

In [28]:
df.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,time_days
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11,0.0,failed,0,GB,0,59
1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12,220.0,failed,3,US,220,45
2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17,1.0,failed,1,US,1,30
3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04,1283.0,canceled,14,US,1283,56
4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01,50000.0,2016-02-26,52375.0,successful,224,US,52375,35

In [29]:
# Extracted just the month from the launch date

df['launched'] = df['launched'].apply(lambda d: d.month)

In [30]:
df.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,time_days
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,8,0.0,failed,0,GB,0,59
1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,1,220.0,failed,3,US,220,45
2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,3,1.0,failed,1,US,1,30
3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,7,1283.0,canceled,14,US,1283,56
4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01,50000.0,2,52375.0,successful,224,US,52375,35

In [31]:
df.groupby(['country', 'state']).count()

                        ID    name  category  main_category  currency  \
country state
CA      canceled      1762    1762      1762           1762      1762
        failed        6832    6832      6832           6832      6832
        live           233     233       233            233       233
        successful    3067    3067      3067           3067      3067
        suspended       98      98        98             98        98
GB      canceled      3112    3112      3112           3112      3112
        failed       14479   14479     14479          14479     14479
        live           431     431       431            431       431
        successful    9340    9340      9340           9340      9340
        suspended      146     146       146            146       146
US      canceled     24488   24488     24488          24488     24488
        failed      133594  133594    133594         133594    133594
        live          2708    2708      2708           2708      2708
        successful   95770   95770     95770          95770     95770
        suspended     1002    1002      1002           1002      1002

                    deadline    goal  launched  pledged  backers  usd pledged  \
country state
CA      canceled        1762    1762      1762     1762     1762         1762
        failed          6832    6832      6832     6832     6832         6832
        live             233     233       233      233      233          233
        successful      3067    3067      3067     3067     3067         3067
        suspended         98      98        98       98       98           98
GB      canceled        3112    3112      3112     3112     3112         3112
        failed         14479   14479     14479    14479    14479        14479
        live             431     431       431      431      431          431
        successful      9340    9340      9340     9340     9340         9340
        suspended        146     146       146      146      146          146
US      canceled       24488   24488     24488    24488    24488        24488
        failed        133594  133594    133594   133594   133594       133594
        live            2708    2708      2708     2708     2708         2708
        successful     95770   95770     95770    95770    95770        95770
        suspended       1002    1002      1002     1002     1002         1002

                    time_days
country state
CA      canceled         1762
        failed           6832
        live              233
        successful       3067
        suspended          98
GB      canceled         3112
        failed          14479
        live              431
        successful       9340
        suspended         146
US      canceled        24488
        failed         133594
        live             2708
        successful      95770
        suspended        1002

In [32]:
# Dropped the live projects

df = df[df['state'] != 'live']

In [33]:
# Classified canceled and suspended projects as failed as well; binary state

df['state'] = df['state'].map({'successful': 1, 'failed': 0, 'canceled': 0, 'suspended': 0})

In [34]:
df.groupby(['country', 'state']).count()

                   ID    name  category  main_category  currency  deadline  \
country state
CA      0        8692    8692      8692           8692      8692      8692
        1        3067    3067      3067           3067      3067      3067
GB      0       17737   17737     17737          17737     17737     17737
        1        9340    9340      9340           9340      9340      9340
US      0      159084  159084    159084         159084    159084    159084
        1       95770   95770     95770          95770     95770     95770

                 goal  launched  pledged  backers  usd pledged  time_days
country state
CA      0        8692      8692     8692     8692         8692       8692
        1        3067      3067     3067     3067         3067       3067
GB      0       17737     17737    17737    17737        17737      17737
        1        9340      9340     9340     9340         9340       9340
US      0      159084    159084   159084   159084       159084     159084
        1       95770     95770    95770    95770        95770      95770